.c-color-tile {
	$c: &;
	display: flex;
	flex-direction: column;
	height: 17.5rem;


	&__container {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		pointer-events: none;
	}

	&__color-code {
		font-weight: 600;
		flex-grow: 1;
	}

	&__tone {
		flex-basis: 4rem;
		padding: 1rem;
		border: 1px solid $border-color;
		border-right-width: 0;
		font-weight: 600;
	}

	&--first-item {
		#{$c}__color-info {
			border-left-width: 1px;
		}
	}

	&--last-item {
		#{$c}__color-info {
			border-right-width: 1px;
		}
	}

	&--contrast {
		#{$c}__color-code {
			color: get-color(greyscale, xx-light);
		}
	}
}