.c-explore-palette {
	$c: &;
	background-color: get-color(greyscale, white);
	border-radius: 1.5rem;

	&__strip {
		display: flex;
		width: 100%;	
		
		&--fixed-height {
			height: 13.5rem;
		}
	}

	&__tile {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		flex-basis: 1rem;
		flex-grow: 1;
		position: relative;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		
		&:hover {
			flex-basis: 8rem;
			#{$c}__tween-content {
				opacity: 1;
				transition: all 0.3s ease-in-out;
			}
		}

		&:first-child {
			border-top-left-radius: 1.5rem;
		}

		&:last-child {
			border-top-right-radius: 1.5rem;
		}
	}

	&__tween-content {
		opacity: 0;
	}
	
	&__toolbar {
		align-items: center;
		border: 1px solid $border-color;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
}
