<div class="c-color-palette">
	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#FA91BE;">
						<span class="c-explore-palette__tween-content">#FA91BE</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">$brand-primary</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#F7CCCE;">
						<span class="c-explore-palette__tween-content">#F7CCCE</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">$brand-primary-support</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#09978B;">
						<span class="c-explore-palette__tween-content">#09978B</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">$brand-secondary</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#B6D8CF;">
						<span class="c-explore-palette__tween-content">#B6D8CF</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">$brand-secondary-support</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code" style="background-color:#000000;">
						<span class="c-explore-palette__tween-content">#000000</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">black</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#1A1A1A;">
						<span class="c-explore-palette__tween-content">#1A1A1A</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">xx-dark</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#333333;">
						<span class="c-explore-palette__tween-content">#333333</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">x-dark</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#4D4D4D;">
						<span class="c-explore-palette__tween-content">#4D4D4D</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">dark</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#666666;">
						<span class="c-explore-palette__tween-content">#666666</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">mid-dark</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#808080;">
						<span class="c-explore-palette__tween-content">#808080</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">base</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#999999;">
						<span class="c-explore-palette__tween-content">#999999</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">mid-light</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#B3B3B3;">
						<span class="c-explore-palette__tween-content">#B3B3B3</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">light</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#CCCCCC;">
						<span class="c-explore-palette__tween-content">#CCCCCC</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">x-light</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#E6E6E6;">
						<span class="c-explore-palette__tween-content">#E6E6E6</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">xx-light</div>
				</div>
			</div>
			<div class="c-explore-palette__tile">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#FFFFFF;">
						<span class="c-explore-palette__tween-content">#FFFFFF</span>
					</div>
					<div class="c-color-tile__container c-color-tile__color-info">white</div>
				</div>
			</div>
		</div>
	</div>
</div>