<div class="c-explore-palette c-explore-palette--cols c-explore-palette--with-header">
	<div class="c-explore-palette__header">
		<span style="font-weight: 700;">font-family: 'OpenSans'</span>
	</div>
	<div class="c-explore-palette__strip">
		<ol class="c-font-list c-font-list--open-sans">
			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">Light 300</div>
					<div style="font-weight: 300">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">Light 300 italic</div>
					<div style="font-weight: 300; font-style:italic;">The quick brown fox jumps over the lazy dog.
					</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">regular</div>
					<div>The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">regular italic</div>
					<div style="font-style:italic;">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">Bold 700</div>
					<div style="font-weight: 700">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">Bold 700 italic</div>
					<div style="font-weight: 700; font-style:italic;">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>
		</ol>

		<ol class="o-list-cols c-font-list c-font-list--open-sans">
			<li class="c-font-list__tile">A</li>
			<li class="c-font-list__tile">B</li>
			<li class="c-font-list__tile">C</li>
			<li class="c-font-list__tile">Č</li>
			<li class="c-font-list__tile">Ć</li>
			<li class="c-font-list__tile">D</li>
			<li class="c-font-list__tile">Đ</li>
			<li class="c-font-list__tile">E</li>
			<li class="c-font-list__tile">F</li>
			<li class="c-font-list__tile">G</li>
			<li class="c-font-list__tile">H</li>
			<li class="c-font-list__tile">I</li>
			<li class="c-font-list__tile">J</li>
			<li class="c-font-list__tile">K</li>
			<li class="c-font-list__tile">L</li>
			<li class="c-font-list__tile">M</li>
			<li class="c-font-list__tile">N</li>
			<li class="c-font-list__tile">O</li>
			<li class="c-font-list__tile">P</li>
			<li class="c-font-list__tile">Q</li>
			<li class="c-font-list__tile">R</li>
			<li class="c-font-list__tile">S</li>
			<li class="c-font-list__tile">Š</li>
			<li class="c-font-list__tile">T</li>
			<li class="c-font-list__tile">U</li>
			<li class="c-font-list__tile">V</li>
			<li class="c-font-list__tile">W</li>
			<li class="c-font-list__tile">X</li>
			<li class="c-font-list__tile">Y</li>
			<li class="c-font-list__tile">Z</li>
			<li class="c-font-list__tile">Ž</li>
			<li class="c-font-list__tile">a</li>
			<li class="c-font-list__tile">b</li>
			<li class="c-font-list__tile">c</li>
			<li class="c-font-list__tile">č</li>
			<li class="c-font-list__tile">ć</li>
			<li class="c-font-list__tile">d</li>
			<li class="c-font-list__tile">đ</li>
			<li class="c-font-list__tile">e</li>
			<li class="c-font-list__tile">f</li>
			<li class="c-font-list__tile">g</li>
			<li class="c-font-list__tile">h</li>
			<li class="c-font-list__tile">i</li>
			<li class="c-font-list__tile">j</li>
			<li class="c-font-list__tile">k</li>
			<li class="c-font-list__tile">l</li>
			<li class="c-font-list__tile">m</li>
			<li class="c-font-list__tile">n</li>
			<li class="c-font-list__tile">o</li>
			<li class="c-font-list__tile">p</li>
			<li class="c-font-list__tile">q</li>
			<li class="c-font-list__tile">r</li>
			<li class="c-font-list__tile">s</li>
			<li class="c-font-list__tile">š</li>
			<li class="c-font-list__tile">t</li>
			<li class="c-font-list__tile">u</li>
			<li class="c-font-list__tile">v</li>
			<li class="c-font-list__tile">w</li>
			<li class="c-font-list__tile">x</li>
			<li class="c-font-list__tile">y</li>
			<li class="c-font-list__tile">z</li>
			<li class="c-font-list__tile">ž</li>
			<li class="c-font-list__tile">А</li>
			<li class="c-font-list__tile">Б</li>
			<li class="c-font-list__tile">В</li>
			<li class="c-font-list__tile">Г</li>
			<li class="c-font-list__tile">Ґ</li>
			<li class="c-font-list__tile">Д</li>
			<li class="c-font-list__tile">Ђ</li>
			<li class="c-font-list__tile">Е</li>
			<li class="c-font-list__tile">Ё</li>
			<li class="c-font-list__tile">Є</li>
			<li class="c-font-list__tile">Ж</li>
			<li class="c-font-list__tile">З</li>
			<li class="c-font-list__tile">Ѕ</li>
			<li class="c-font-list__tile">И</li>
			<li class="c-font-list__tile">І</li>
			<li class="c-font-list__tile">Ї</li>
			<li class="c-font-list__tile">Й</li>
			<li class="c-font-list__tile">Ј</li>
			<li class="c-font-list__tile">К</li>
			<li class="c-font-list__tile">Л</li>
			<li class="c-font-list__tile">Љ</li>
			<li class="c-font-list__tile">М</li>
			<li class="c-font-list__tile">Н</li>
			<li class="c-font-list__tile">Њ</li>
			<li class="c-font-list__tile">О</li>
			<li class="c-font-list__tile">П</li>
			<li class="c-font-list__tile">Р</li>
			<li class="c-font-list__tile">С</li>
			<li class="c-font-list__tile">Т</li>
			<li class="c-font-list__tile">Ћ</li>
			<li class="c-font-list__tile">У</li>
			<li class="c-font-list__tile">Ў</li>
			<li class="c-font-list__tile">Ф</li>
			<li class="c-font-list__tile">Х</li>
			<li class="c-font-list__tile">Ц</li>
			<li class="c-font-list__tile">Ч</li>
			<li class="c-font-list__tile">Џ</li>
			<li class="c-font-list__tile">Ш</li>
			<li class="c-font-list__tile">Щ</li>
			<li class="c-font-list__tile">Ъ</li>
			<li class="c-font-list__tile">Ы</li>
			<li class="c-font-list__tile">Ь</li>
			<li class="c-font-list__tile">Э</li>
			<li class="c-font-list__tile">Ю</li>
			<li class="c-font-list__tile">Я</li>
			<li class="c-font-list__tile">а</li>
			<li class="c-font-list__tile">б</li>
			<li class="c-font-list__tile">в</li>
			<li class="c-font-list__tile">г</li>
			<li class="c-font-list__tile">ґ</li>
			<li class="c-font-list__tile">д</li>
			<li class="c-font-list__tile">ђ</li>
			<li class="c-font-list__tile">е</li>
			<li class="c-font-list__tile">ё</li>
			<li class="c-font-list__tile">є</li>
			<li class="c-font-list__tile">ж</li>
			<li class="c-font-list__tile">з</li>
			<li class="c-font-list__tile">ѕ</li>
			<li class="c-font-list__tile">и</li>
			<li class="c-font-list__tile">і</li>
			<li class="c-font-list__tile">ї</li>
			<li class="c-font-list__tile">й</li>
			<li class="c-font-list__tile">ј</li>
			<li class="c-font-list__tile">к</li>
			<li class="c-font-list__tile">л</li>
			<li class="c-font-list__tile">љ</li>
			<li class="c-font-list__tile">м</li>
			<li class="c-font-list__tile">н</li>
			<li class="c-font-list__tile">њ</li>
			<li class="c-font-list__tile">о</li>
			<li class="c-font-list__tile">п</li>
			<li class="c-font-list__tile">р</li>
			<li class="c-font-list__tile">с</li>
			<li class="c-font-list__tile">т</li>
			<li class="c-font-list__tile">ћ</li>
			<li class="c-font-list__tile">у</li>
			<li class="c-font-list__tile">ў</li>
			<li class="c-font-list__tile">ф</li>
			<li class="c-font-list__tile">х</li>
			<li class="c-font-list__tile">ц</li>
			<li class="c-font-list__tile">ч</li>
			<li class="c-font-list__tile">џ</li>
			<li class="c-font-list__tile">ш</li>
			<li class="c-font-list__tile">щ</li>
			<li class="c-font-list__tile">ъ</li>
			<li class="c-font-list__tile">ы</li>
			<li class="c-font-list__tile">ь</li>
			<li class="c-font-list__tile">э</li>
			<li class="c-font-list__tile">ю</li>
			<li class="c-font-list__tile">я</li>
			<li class="c-font-list__tile">Α</li>
			<li class="c-font-list__tile">Β</li>
			<li class="c-font-list__tile">Γ</li>
			<li class="c-font-list__tile">Δ</li>
			<li class="c-font-list__tile">Ε</li>
			<li class="c-font-list__tile">Ζ</li>
			<li class="c-font-list__tile">Η</li>
			<li class="c-font-list__tile">Θ</li>
			<li class="c-font-list__tile">Ι</li>
			<li class="c-font-list__tile">Κ</li>
			<li class="c-font-list__tile">Λ</li>
			<li class="c-font-list__tile">Μ</li>
			<li class="c-font-list__tile">Ν</li>
			<li class="c-font-list__tile">Ξ</li>
			<li class="c-font-list__tile">Ο</li>
			<li class="c-font-list__tile">Π</li>
			<li class="c-font-list__tile">Ρ</li>
			<li class="c-font-list__tile">Σ</li>
			<li class="c-font-list__tile">Τ</li>
			<li class="c-font-list__tile">Υ</li>
			<li class="c-font-list__tile">Φ</li>
			<li class="c-font-list__tile">Χ</li>
			<li class="c-font-list__tile">Ψ</li>
			<li class="c-font-list__tile">Ω</li>
			<li class="c-font-list__tile">α</li>
			<li class="c-font-list__tile">β</li>
			<li class="c-font-list__tile">γ</li>
			<li class="c-font-list__tile">δ</li>
			<li class="c-font-list__tile">ε</li>
			<li class="c-font-list__tile">ζ</li>
			<li class="c-font-list__tile">η</li>
			<li class="c-font-list__tile">θ</li>
			<li class="c-font-list__tile">ι</li>
			<li class="c-font-list__tile">κ</li>
			<li class="c-font-list__tile">λ</li>
			<li class="c-font-list__tile">μ</li>
			<li class="c-font-list__tile">ν</li>
			<li class="c-font-list__tile">ξ</li>
			<li class="c-font-list__tile">ο</li>
			<li class="c-font-list__tile">π</li>
			<li class="c-font-list__tile">ρ</li>
			<li class="c-font-list__tile">σ</li>
			<li class="c-font-list__tile">τ</li>
			<li class="c-font-list__tile">υ</li>
			<li class="c-font-list__tile">φ</li>
			<li class="c-font-list__tile">χ</li>
			<li class="c-font-list__tile">ψ</li>
			<li class="c-font-list__tile">ω</li>
			<li class="c-font-list__tile">ά</li>
			<li class="c-font-list__tile">Ά</li>
			<li class="c-font-list__tile">έ</li>
			<li class="c-font-list__tile">Έ</li>
			<li class="c-font-list__tile">έ</li>
			<li class="c-font-list__tile">Ή</li>
			<li class="c-font-list__tile">ί</li>
			<li class="c-font-list__tile">ϊ</li>
			<li class="c-font-list__tile">ΐ</li>
			<li class="c-font-list__tile">Ί</li>
			<li class="c-font-list__tile">ό</li>
			<li class="c-font-list__tile">Ό</li>
			<li class="c-font-list__tile">ύ</li>
			<li class="c-font-list__tile">ΰ</li>
			<li class="c-font-list__tile">ϋ</li>
			<li class="c-font-list__tile">Ύ</li>
			<li class="c-font-list__tile">Ϋ</li>
			<li class="c-font-list__tile">Ώ</li>
			<li class="c-font-list__tile">Ă</li>
			<li class="c-font-list__tile">Â</li>
			<li class="c-font-list__tile">Ê</li>
			<li class="c-font-list__tile">Ô</li>
			<li class="c-font-list__tile">Ơ</li>
			<li class="c-font-list__tile">Ư</li>
			<li class="c-font-list__tile">ă</li>
			<li class="c-font-list__tile">â</li>
			<li class="c-font-list__tile">ê</li>
			<li class="c-font-list__tile">ô</li>
			<li class="c-font-list__tile">ơ</li>
			<li class="c-font-list__tile">ư</li>
			<li class="c-font-list__tile">1</li>
			<li class="c-font-list__tile">2</li>
			<li class="c-font-list__tile">3</li>
			<li class="c-font-list__tile">4</li>
			<li class="c-font-list__tile">5</li>
			<li class="c-font-list__tile">6</li>
			<li class="c-font-list__tile">7</li>
			<li class="c-font-list__tile">8</li>
			<li class="c-font-list__tile">9</li>
			<li class="c-font-list__tile">0</li>
			<li class="c-font-list__tile">‘</li>
			<li class="c-font-list__tile">?</li>
			<li class="c-font-list__tile">’</li>
			<li class="c-font-list__tile">“</li>
			<li class="c-font-list__tile">!</li>
			<li class="c-font-list__tile">”</li>
			<li class="c-font-list__tile">(</li>
			<li class="c-font-list__tile">%</li>
			<li class="c-font-list__tile">)</li>
			<li class="c-font-list__tile">[</li>
			<li class="c-font-list__tile">#</li>
			<li class="c-font-list__tile">]</li>
			<li class="c-font-list__tile">{</li>
			<li class="c-font-list__tile">@</li>
			<li class="c-font-list__tile">}</li>
			<li class="c-font-list__tile">/</li>
			<li class="">&ac-font-list__tilemp;</li>
			<li class="c-font-list__tile">\</li>
			<li class="">&c-font-list__tilelt;</li>
			<li class="c-font-list__tile">-</li>
			<li class="c-font-list__tile">+</li>
			<li class="c-font-list__tile">÷</li>
			<li class="c-font-list__tile">×</li>
			<li class="c-font-list__tile">=</li>
			<li class="">&c-font-list__tilegt;</li>
			<li class="c-font-list__tile">®</li>
			<li class="c-font-list__tile">©</li>
			<li class="c-font-list__tile">$</li>
			<li class="c-font-list__tile">€</li>
			<li class="c-font-list__tile">£</li>
			<li class="c-font-list__tile">¥</li>
			<li class="c-font-list__tile">¢</li>
			<li class="c-font-list__tile">:</li>
			<li class="c-font-list__tile">;</li>
			<li class="c-font-list__tile">,</li>
			<li class="c-font-list__tile">.</li>
			<li class="c-font-list__tile">*</li>
		</ol>
	</div>
</div>


<div class="c-explore-palette c-explore-palette--cols c-explore-palette--with-header" style="margin-top: 2rem;">
	<div class="c-explore-palette__header">
		<span style="font-weight: 700;">font-family: 'AmaticSC'</span>
	</div>
	<div class="c-explore-palette__strip">
		<ol class="c-font-list c-font-list--amatic-sc">
			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">regular</div>
					<div>The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">regular italic</div>
					<div style="font-style:italic;">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">Bold 700</div>
					<div style="font-weight: 700">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>

			<li class="c-font-list__tile c-font-list__tile--border">
				<div>
					<div class="c-font-list__style-summary">Bold 700 italic</div>
					<div style="font-weight: 700; font-style:italic;">The quick brown fox jumps over the lazy dog.</div>
				</div>
			</li>
		</ol>

		<ol class="o-list-cols c-font-list c-font-list--amatic-sc">
			<li class="c-font-list__tile">A</li>
			<li class="c-font-list__tile">B</li>
			<li class="c-font-list__tile">C</li>
			<li class="c-font-list__tile">Č</li>
			<li class="c-font-list__tile">Ć</li>
			<li class="c-font-list__tile">D</li>
			<li class="c-font-list__tile">Đ</li>
			<li class="c-font-list__tile">E</li>
			<li class="c-font-list__tile">F</li>
			<li class="c-font-list__tile">G</li>
			<li class="c-font-list__tile">H</li>
			<li class="c-font-list__tile">I</li>
			<li class="c-font-list__tile">J</li>
			<li class="c-font-list__tile">K</li>
			<li class="c-font-list__tile">L</li>
			<li class="c-font-list__tile">M</li>
			<li class="c-font-list__tile">N</li>
			<li class="c-font-list__tile">O</li>
			<li class="c-font-list__tile">P</li>
			<li class="c-font-list__tile">Q</li>
			<li class="c-font-list__tile">R</li>
			<li class="c-font-list__tile">S</li>
			<li class="c-font-list__tile">Š</li>
			<li class="c-font-list__tile">T</li>
			<li class="c-font-list__tile">U</li>
			<li class="c-font-list__tile">V</li>
			<li class="c-font-list__tile">W</li>
			<li class="c-font-list__tile">X</li>
			<li class="c-font-list__tile">Y</li>
			<li class="c-font-list__tile">Z</li>
			<li class="c-font-list__tile">Ž</li>
			<li class="c-font-list__tile">a</li>
			<li class="c-font-list__tile">b</li>
			<li class="c-font-list__tile">c</li>
			<li class="c-font-list__tile">č</li>
			<li class="c-font-list__tile">ć</li>
			<li class="c-font-list__tile">d</li>
			<li class="c-font-list__tile">đ</li>
			<li class="c-font-list__tile">e</li>
			<li class="c-font-list__tile">f</li>
			<li class="c-font-list__tile">g</li>
			<li class="c-font-list__tile">h</li>
			<li class="c-font-list__tile">i</li>
			<li class="c-font-list__tile">j</li>
			<li class="c-font-list__tile">k</li>
			<li class="c-font-list__tile">l</li>
			<li class="c-font-list__tile">m</li>
			<li class="c-font-list__tile">n</li>
			<li class="c-font-list__tile">o</li>
			<li class="c-font-list__tile">p</li>
			<li class="c-font-list__tile">q</li>
			<li class="c-font-list__tile">r</li>
			<li class="c-font-list__tile">s</li>
			<li class="c-font-list__tile">š</li>
			<li class="c-font-list__tile">t</li>
			<li class="c-font-list__tile">u</li>
			<li class="c-font-list__tile">v</li>
			<li class="c-font-list__tile">w</li>
			<li class="c-font-list__tile">x</li>
			<li class="c-font-list__tile">y</li>
			<li class="c-font-list__tile">z</li>
			<li class="c-font-list__tile">ž</li>
			<li class="c-font-list__tile">А</li>
			<li class="c-font-list__tile">Б</li>
			<li class="c-font-list__tile">В</li>
			<li class="c-font-list__tile">Г</li>
			<li class="c-font-list__tile">Ґ</li>
			<li class="c-font-list__tile">Д</li>
			<li class="c-font-list__tile">Ђ</li>
			<li class="c-font-list__tile">Е</li>
			<li class="c-font-list__tile">Ё</li>
			<li class="c-font-list__tile">Є</li>
			<li class="c-font-list__tile">Ж</li>
			<li class="c-font-list__tile">З</li>
			<li class="c-font-list__tile">Ѕ</li>
			<li class="c-font-list__tile">И</li>
			<li class="c-font-list__tile">І</li>
			<li class="c-font-list__tile">Ї</li>
			<li class="c-font-list__tile">Й</li>
			<li class="c-font-list__tile">Ј</li>
			<li class="c-font-list__tile">К</li>
			<li class="c-font-list__tile">Л</li>
			<li class="c-font-list__tile">Љ</li>
			<li class="c-font-list__tile">М</li>
			<li class="c-font-list__tile">Н</li>
			<li class="c-font-list__tile">Њ</li>
			<li class="c-font-list__tile">О</li>
			<li class="c-font-list__tile">П</li>
			<li class="c-font-list__tile">Р</li>
			<li class="c-font-list__tile">С</li>
			<li class="c-font-list__tile">Т</li>
			<li class="c-font-list__tile">Ћ</li>
			<li class="c-font-list__tile">У</li>
			<li class="c-font-list__tile">Ў</li>
			<li class="c-font-list__tile">Ф</li>
			<li class="c-font-list__tile">Х</li>
			<li class="c-font-list__tile">Ц</li>
			<li class="c-font-list__tile">Ч</li>
			<li class="c-font-list__tile">Џ</li>
			<li class="c-font-list__tile">Ш</li>
			<li class="c-font-list__tile">Щ</li>
			<li class="c-font-list__tile">Ъ</li>
			<li class="c-font-list__tile">Ы</li>
			<li class="c-font-list__tile">Ь</li>
			<li class="c-font-list__tile">Э</li>
			<li class="c-font-list__tile">Ю</li>
			<li class="c-font-list__tile">Я</li>
			<li class="c-font-list__tile">а</li>
			<li class="c-font-list__tile">б</li>
			<li class="c-font-list__tile">в</li>
			<li class="c-font-list__tile">г</li>
			<li class="c-font-list__tile">ґ</li>
			<li class="c-font-list__tile">д</li>
			<li class="c-font-list__tile">ђ</li>
			<li class="c-font-list__tile">е</li>
			<li class="c-font-list__tile">ё</li>
			<li class="c-font-list__tile">є</li>
			<li class="c-font-list__tile">ж</li>
			<li class="c-font-list__tile">з</li>
			<li class="c-font-list__tile">ѕ</li>
			<li class="c-font-list__tile">и</li>
			<li class="c-font-list__tile">і</li>
			<li class="c-font-list__tile">ї</li>
			<li class="c-font-list__tile">й</li>
			<li class="c-font-list__tile">ј</li>
			<li class="c-font-list__tile">к</li>
			<li class="c-font-list__tile">л</li>
			<li class="c-font-list__tile">љ</li>
			<li class="c-font-list__tile">м</li>
			<li class="c-font-list__tile">н</li>
			<li class="c-font-list__tile">њ</li>
			<li class="c-font-list__tile">о</li>
			<li class="c-font-list__tile">п</li>
			<li class="c-font-list__tile">р</li>
			<li class="c-font-list__tile">с</li>
			<li class="c-font-list__tile">т</li>
			<li class="c-font-list__tile">ћ</li>
			<li class="c-font-list__tile">у</li>
			<li class="c-font-list__tile">ў</li>
			<li class="c-font-list__tile">ф</li>
			<li class="c-font-list__tile">х</li>
			<li class="c-font-list__tile">ц</li>
			<li class="c-font-list__tile">ч</li>
			<li class="c-font-list__tile">џ</li>
			<li class="c-font-list__tile">ш</li>
			<li class="c-font-list__tile">щ</li>
			<li class="c-font-list__tile">ъ</li>
			<li class="c-font-list__tile">ы</li>
			<li class="c-font-list__tile">ь</li>
			<li class="c-font-list__tile">э</li>
			<li class="c-font-list__tile">ю</li>
			<li class="c-font-list__tile">я</li>
			<li class="c-font-list__tile">Α</li>
			<li class="c-font-list__tile">Β</li>
			<li class="c-font-list__tile">Γ</li>
			<li class="c-font-list__tile">Δ</li>
			<li class="c-font-list__tile">Ε</li>
			<li class="c-font-list__tile">Ζ</li>
			<li class="c-font-list__tile">Η</li>
			<li class="c-font-list__tile">Θ</li>
			<li class="c-font-list__tile">Ι</li>
			<li class="c-font-list__tile">Κ</li>
			<li class="c-font-list__tile">Λ</li>
			<li class="c-font-list__tile">Μ</li>
			<li class="c-font-list__tile">Ν</li>
			<li class="c-font-list__tile">Ξ</li>
			<li class="c-font-list__tile">Ο</li>
			<li class="c-font-list__tile">Π</li>
			<li class="c-font-list__tile">Ρ</li>
			<li class="c-font-list__tile">Σ</li>
			<li class="c-font-list__tile">Τ</li>
			<li class="c-font-list__tile">Υ</li>
			<li class="c-font-list__tile">Φ</li>
			<li class="c-font-list__tile">Χ</li>
			<li class="c-font-list__tile">Ψ</li>
			<li class="c-font-list__tile">Ω</li>
			<li class="c-font-list__tile">α</li>
			<li class="c-font-list__tile">β</li>
			<li class="c-font-list__tile">γ</li>
			<li class="c-font-list__tile">δ</li>
			<li class="c-font-list__tile">ε</li>
			<li class="c-font-list__tile">ζ</li>
			<li class="c-font-list__tile">η</li>
			<li class="c-font-list__tile">θ</li>
			<li class="c-font-list__tile">ι</li>
			<li class="c-font-list__tile">κ</li>
			<li class="c-font-list__tile">λ</li>
			<li class="c-font-list__tile">μ</li>
			<li class="c-font-list__tile">ν</li>
			<li class="c-font-list__tile">ξ</li>
			<li class="c-font-list__tile">ο</li>
			<li class="c-font-list__tile">π</li>
			<li class="c-font-list__tile">ρ</li>
			<li class="c-font-list__tile">σ</li>
			<li class="c-font-list__tile">τ</li>
			<li class="c-font-list__tile">υ</li>
			<li class="c-font-list__tile">φ</li>
			<li class="c-font-list__tile">χ</li>
			<li class="c-font-list__tile">ψ</li>
			<li class="c-font-list__tile">ω</li>
			<li class="c-font-list__tile">ά</li>
			<li class="c-font-list__tile">Ά</li>
			<li class="c-font-list__tile">έ</li>
			<li class="c-font-list__tile">Έ</li>
			<li class="c-font-list__tile">έ</li>
			<li class="c-font-list__tile">Ή</li>
			<li class="c-font-list__tile">ί</li>
			<li class="c-font-list__tile">ϊ</li>
			<li class="c-font-list__tile">ΐ</li>
			<li class="c-font-list__tile">Ί</li>
			<li class="c-font-list__tile">ό</li>
			<li class="c-font-list__tile">Ό</li>
			<li class="c-font-list__tile">ύ</li>
			<li class="c-font-list__tile">ΰ</li>
			<li class="c-font-list__tile">ϋ</li>
			<li class="c-font-list__tile">Ύ</li>
			<li class="c-font-list__tile">Ϋ</li>
			<li class="c-font-list__tile">Ώ</li>
			<li class="c-font-list__tile">Ă</li>
			<li class="c-font-list__tile">Â</li>
			<li class="c-font-list__tile">Ê</li>
			<li class="c-font-list__tile">Ô</li>
			<li class="c-font-list__tile">Ơ</li>
			<li class="c-font-list__tile">Ư</li>
			<li class="c-font-list__tile">ă</li>
			<li class="c-font-list__tile">â</li>
			<li class="c-font-list__tile">ê</li>
			<li class="c-font-list__tile">ô</li>
			<li class="c-font-list__tile">ơ</li>
			<li class="c-font-list__tile">ư</li>
			<li class="c-font-list__tile">1</li>
			<li class="c-font-list__tile">2</li>
			<li class="c-font-list__tile">3</li>
			<li class="c-font-list__tile">4</li>
			<li class="c-font-list__tile">5</li>
			<li class="c-font-list__tile">6</li>
			<li class="c-font-list__tile">7</li>
			<li class="c-font-list__tile">8</li>
			<li class="c-font-list__tile">9</li>
			<li class="c-font-list__tile">0</li>
			<li class="c-font-list__tile">‘</li>
			<li class="c-font-list__tile">?</li>
			<li class="c-font-list__tile">’</li>
			<li class="c-font-list__tile">“</li>
			<li class="c-font-list__tile">!</li>
			<li class="c-font-list__tile">”</li>
			<li class="c-font-list__tile">(</li>
			<li class="c-font-list__tile">%</li>
			<li class="c-font-list__tile">)</li>
			<li class="c-font-list__tile">[</li>
			<li class="c-font-list__tile">#</li>
			<li class="c-font-list__tile">]</li>
			<li class="c-font-list__tile">{</li>
			<li class="c-font-list__tile">@</li>
			<li class="c-font-list__tile">}</li>
			<li class="c-font-list__tile">/</li>
			<li class="">&ac-font-list__tilemp;</li>
			<li class="c-font-list__tile">\</li>
			<li class="">&c-font-list__tilelt;</li>
			<li class="c-font-list__tile">-</li>
			<li class="c-font-list__tile">+</li>
			<li class="c-font-list__tile">÷</li>
			<li class="c-font-list__tile">×</li>
			<li class="c-font-list__tile">=</li>
			<li class="">&c-font-list__tilegt;</li>
			<li class="c-font-list__tile">®</li>
			<li class="c-font-list__tile">©</li>
			<li class="c-font-list__tile">$</li>
			<li class="c-font-list__tile">€</li>
			<li class="c-font-list__tile">£</li>
			<li class="c-font-list__tile">¥</li>
			<li class="c-font-list__tile">¢</li>
			<li class="c-font-list__tile">:</li>
			<li class="c-font-list__tile">;</li>
			<li class="c-font-list__tile">,</li>
			<li class="c-font-list__tile">.</li>
			<li class="c-font-list__tile">*</li>
		</ol>
	</div>
</div>