<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link media="all" rel="stylesheet" href="{{ path '/main.css' }}">
		<title>Preview Layout</title>
	</head>

	<body>

		<div style="padding: 1rem;">
		{{{ yield }}}
		</div>
		<script type="text/javascript" src="{{ path '/main.bundle.js'}}"></script>
	</body>

</html>