/*----- Definition list -----*/
dl {
    margin-top: 0;
    margin-bottom: 0;

    dt {
        display: inline-block;
    }

    dd {
		display: inline-block;
        margin-left: 0;
    }
}

ol,
ul {
	list-style: none;
	margin: 0;
    padding: 0;
}
