<div class="c-explore-palette">
	<div class="c-explore-palette__strip">
		<div class="c-explore-palette__item" style="background-color:#FA91BE;">
			<span class="c-explore-palette__item-text">#FA91BE</span>
		</div>
		<div class="c-explore-palette__item" style="background-color:#F7CCCE;">
			<span class="c-explore-palette__item-text">#F7CCCE</span>
		</div>
	</div>

	<div class="c-explore-palette__info">
		<span>$brand-primary</span>
		<span>$brand-primary-support</span>
	</div>
</div>