<div class="c-explore-palette">
	<div class="c-explore-palette__strip">
		<div class="c-explore-palette__item">
			<span class="c-explore-palette__item-text">#678678</span>
		</div>
		<div class="c-explore-palette__item">
			<span class="c-explore-palette__item-text">#678678</span>
		</div>
		<div class="c-explore-palette__item">
			<span class="c-explore-palette__item-text">#678678</span>
		</div>
		<div class="c-explore-palette__item">
			<span class="c-explore-palette__item-text">#678678</span>
		</div>
		<div class="c-explore-palette__item">
			<span class="c-explore-palette__item-text">#678678</span>
		</div>
	</div>

	<div class="c-explore-palette__info">

	</div>
</div>