<div>
	<p>
		<i>we use <b>o-page-pannels</b> to create full width backgrounds.
			<br>Due to border collapse on block elements, we don't set margin,
			but we use padding to create space between pannels.
		</i>
	</p>
</div>

<div class="o-page-pannel">
	o-page-pannel
</div>
<div class="o-page-pannel o-page-pannel--brand">
	o-page-pannel o-page-pannel--brand
</div>
<div class="o-page-pannel o-page-pannel--brand-secondary">
	o-page-pannel o-page-pannel--brand-secondary
</div>
<div class="o-page-pannel o-page-pannel--brand o-page-pannel--seamless">
	o-page-pannel o-page-pannel--brand o-page-pannel--seamless
</div>

<div style="margin-top: 6rem">
	<p>
		<i>
			We use <b>o-container</b> to set the max width of an page, the
			container will center the content in the middle.
		</i>
	</p>
</div>

<div class="o-page-pannel o-page-pannel--brand">
	o-page-pannel o-page-pannel--brand
	<div class="o-container">
		<div style="border: 1px solid black;">
			o-container
		</div>
	</div>
</div>


<div style="margin-top: 6rem">
	<p>
		<i>
			We use <b>o-layout</b> to set the setup the grid.
			<br><b>o-layout</b> always contains one or multiple <b>o-layout__row</b>
			<br><b>o-layout__row</b> always contains one or multiple <b>o-layout__col</b>
		</i>
	</p>
</div>

<div class="o-page-pannel o-page-pannel--brand-secondary">
	<div class="o-container">
		<div class="o-layout">
			<div class="o-layout o-layout__row">
				<div class="o-layout o-layout__col u-1/12">
					<div style="padding: 1rem; background-color: #D88C9A;">u-1/12</div>
				</div>
				<div class="o-layout o-layout__col u-11/12">
					<div style="padding: 1rem; background-color: #E5AEA2;">u-11/12</div>
				</div>
			</div>

			<div class="o-layout o-layout__row">
				<div class="o-layout o-layout__col u-2/12">
					<div style="padding: 1rem; background-color: #F2D0A9;">u-2/12</div>
				</div>
				<div class="o-layout o-layout__col u-10/12">
					<div style="padding: 1rem; background-color: #F2DABE;">u-10/12</div>
				</div>
			</div>

			<div class="o-layout o-layout__row">
				<div class="o-layout o-layout__col u-3/12">
					<div style="padding: 1rem; background-color: #F1E3D3;">u-3/12</div>
				</div>
				<div class="o-layout o-layout__col u-9/12">
					<div style="padding: 1rem; background-color: #C5D2C6;">u-9/12</div>
				</div>
			</div>

			<div class="o-layout o-layout__row">
				<div class="o-layout o-layout__col u-4/12">
					<div style="padding: 1rem; background-color: #99C1B9;">u-4/12</div>
				</div>
				<div class="o-layout o-layout__col u-8/12">
					<div style="padding: 1rem; background-color: #949FBC;">u-8/12</div>
				</div>
			</div>
			<div class="o-layout o-layout__row">
				<div class="o-layout o-layout__col u-2/12">
					<div style="padding: 1rem; background-color: #D88C9A;">u-2/12</div>
				</div>
				<div class="o-layout o-layout__col u-8/12">
					<div style="padding: 1rem; background-color: #F1E3D3;">u-8/12</div>
				</div>
				<div class="o-layout o-layout__col u-2/12">
					<div style="padding: 1rem; background-color: #D88C9A;">u-2/12</div>
				</div>
			</div>
			<div class="o-layout o-layout__row">
				<div class="o-layout o-layout__col u-3/12">
					<div style="padding: 1rem; background-color: #C5D2C6;">u-3/12</div>
				</div>
				<div class="o-layout o-layout__col u-6/12">
					<div style="padding: 1rem; background-color: #F2D0A9;">u-5/12</div>
				</div>
				<div class="o-layout o-layout__col u-3/12">
					<div style="padding: 1rem; background-color: #C5D2C6;">u-3/12</div>
				</div>
			</div>
		</div>
	</div>
</div>