<div class="c-color-palette">
	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="c-color-tile c-color-tile--first-item">
				<div class="c-color-tile__color" style="background-color:#FF0000">
					<span class="c-color-tile__color-content">c-color-tile</span>
				</div>
			</div>
			<div class="c-color-tile c-color-tile--last-item">
				<div class="c-color-tile__color" style="background-color:#00FF00">
					<span class="c-color-tile__color-content">c-color-tile</span>
				</div>
			</div>
			<div class="c-color-tile c-color-tile--last-item">
				<div class="c-color-tile__color" style="background-color:#0000FF">
					<span class="c-color-tile__color-content">c-color-tile</span>
				</div>
			</div>
		</div>
		<div class="c-explore-palette__footer">
			<span>c-color-palette example</span>
		</div>
	</div>
</div>


<div class="c-color-palette" style="margin-top: 2rem;">
	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<ol class="c-font-list c-font-list--open-sans">
				<li class="c-font-list__tile c-font-list__tile--border">
					<div>
						<div class="c-font-list__style-summary">Light 300</div>
						<div style="font-weight: 300">The quick brown fox jumps over the lazy dog.</div>
					</div>
				</li>

				<li class="c-font-list__tile c-font-list__tile--border">
					<div>
						<div class="c-font-list__style-summary">Light 300 italic</div>
						<div style="font-weight: 300; font-style:italic;">The quick brown fox jumps over the lazy dog.
						</div>
					</div>
				</li>

			</ol>
		</div>
		<div class="c-explore-palette__footer">
			<span>c-color-palette c-explore-palette--cols</span>
		</div>
	</div>
</div>