<div class="c-color-palette">
	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#FA91BE">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#FA91BE;">
						<span class="c-explore-palette__tween-content">#FA91BE</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">$brand-primary</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#F7CCCE">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#F7CCCE;">
						<span class="c-explore-palette__tween-content">#F7CCCE</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">$brand-primary-support</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#09978B">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#09978B;">
						<span class="c-explore-palette__tween-content">#09978B</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">$brand-secondary</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#B6D8CF">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#B6D8CF;">
						<span class="c-explore-palette__tween-content">#B6D8CF</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">$brand-secondary-support</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-explore-palette">
		<div class="c-explore-palette__strip">
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#000000">
				<div class="c-color-tile c-color-tile--first-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code" style="background-color:#000000;">
						<span class="c-explore-palette__tween-content">#000000</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">black</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#1A1A1A">
				<div class="c-color-tile c-color-tile--first-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#1A1A1A;">
						<span class="c-explore-palette__tween-content">#1A1A1A</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">xx-dark</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#333333">
				<div class="c-color-tile c-color-tile--last-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#333333;">
						<span class="c-explore-palette__tween-content">#333333</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">x-dark</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#4D4D4D">
				<div class="c-color-tile c-color-tile--first-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#4D4D4D;">
						<span class="c-explore-palette__tween-content">#4D4D4D</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">dark</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#666666">
				<div class="c-color-tile c-color-tile--last-item c-color-tile--contrast">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#666666;">
						<span class="c-explore-palette__tween-content">#666666</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">mid-dark</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#808080">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#808080;">
						<span class="c-explore-palette__tween-content">#808080</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">base</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#999999">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#999999;">
						<span class="c-explore-palette__tween-content">#999999</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">mid-light</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#B3B3B3">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#B3B3B3;">
						<span class="c-explore-palette__tween-content">#B3B3B3</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">light</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#CCCCCC">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#CCCCCC;">
						<span class="c-explore-palette__tween-content">#CCCCCC</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">x-light</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#E6E6E6">
				<div class="c-color-tile c-color-tile--first-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#E6E6E6;">
						<span class="c-explore-palette__tween-content">#E6E6E6</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">xx-light</div>
				</div>
			</div>
			<div class="js-left-click-copy c-explore-palette__tile" data-left-click-copy="#FFFFFF">
				<div class="c-color-tile c-color-tile--last-item">
					<div class="c-color-tile__container c-color-tile__color-code " style="background-color:#FFFFFF;">
						<span class="c-explore-palette__tween-content">#FFFFFF</span>
					</div>
					<div class="c-color-tile__container c-color-tile__tone">white</div>
				</div>
			</div>
		</div>
	</div>
</div>