<div class="c-explore-palette c-explore-palette--with-header">
	<div class="c-explore-palette__header">
		<span style="font-weight: 700;">font-awesome (4.7.0) icons</span>
	</div>
	<div class="c-explore-palette__strip">
		<ol class="o-list-cols o-list-cols--five">
			{{#each icons}}
				<li class="c-icon-tile">
					<div class="fa fa-{{.}}">fa-{{.}}</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>